html {
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body {
    margin: 0%; height: 100%; overflow: hidden;
    display: flex; flex-direction: row; justify-content: space-evenly;
}
#search {
    width: 15%;
    display: flex; flex-direction: column; justify-content: space-evenly;
}
    label {
        text-align: center;
        font-size: x-large;
    }
    textarea {
        height: 70%;
        width: 100%;
    }
    button {
        font-size: large;
    }
#main { 
    width: 80%;
    height: 100%;
    display: flex; flex-direction: column; justify-content: space-evenly;
}
    h1 {
        text-align: center;
    }
    #tracks {
        height: 80%;
        display: flex; flex-direction: row; justify-content: space-evenly;
    }
        .track {
            width: 19%;
            background-color: lightgray;
        }
        
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: large;
            padding: 10px;
            background-color: rgb(236, 236, 236);
        }
        p:hover {
            cursor: pointer;
            background-color: rgb(200, 200, 200);
        }
        .green {
            background-color: lightgreen;
        }




/* Style for the plus symbol */
.plus-symbol {
    font-weight: bold;
    color: rgb(60, 80, 86); /* Change this to any color you prefer */
    margin-left: 5px; /* Add some space between the word and the plus symbol */
    font-size: 24px; /* Increase the font size to make it chunkier */
    font-family: Arial, sans-serif; /* Use a font family that has a chunkier appearance */
    vertical-align: middle; /* Move the plus sign down a bit */

}


/* The PopUpWindow (background) */
.PopUpWindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: left; /* Align text to the left */

}


/* PopUpWindow Content/Box */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left; /* Align text to the left */

}

/* Style for the labels */
.popUplabel {
    font-weight: bold;
    color: #333; /* Customize the color as needed */
    margin-right: 5px; /* Add some space between the label and the text */
}


/* The Close Button */
.closePopUpButton {
    color: #5c6569;
    font-size: 36px; /* Increase the font size to make it chunkier */
    font-weight: bold;
    float: right;
    margin-top: -10px; /* Move the button up a bit */
}

.closePopUpButton:hover,
.closePopUpButton:focus {
    color: rgb(236, 24, 24);
    text-decoration: none;
    cursor: pointer;
}

